<div class="container">
  <%= form_for @betting_pool do |form| %>
    <div class="group">
        <div class="groupTitle">World-Cup Finalists</div>
        <span class="finalists">WINNER</span>
        <%= form.collection_select(:winner_id, Team.find(:all), :id, :name, {:prompt => "Select a team"}, {:disabled => !@betting_pool.is_possible_change_winners }) %>
        <span class="finalists">RUNNER-UP</span>
        <%= form.collection_select(:runnerup_id, Team.find(:all), :id, :name,{:prompt => "Select a team"}, {:disabled => !@betting_pool.is_possible_change_winners }) %>
        <%= form.submit "Update bets", :class => "button finalistsButton" %>
        <span class= <% if flash[:error] == true %> "error" <% else %> "success" <% end %> ><%= flash[:notice] %></span>
    </div>
    <% @tournament.groups.each do |group| %>
      <div class="group">
          <div class="groupTitle"><%= group.name %><span id="collapsor<%= group.id %>" class="rightTeam not_collapsed" onclick="collapse(<%= group.id %>)"></span></div>
          <div id="classification<%= group.id %>" class="classification groupClassification">
            <% if group.is_rankable %>
              <table cellspacing="0">
                <thead>
                    <tr>
                      <td>Classification</td>
                      <td title="Points">Pts</td>
                      <td title="Matches played">MP</td>
                      <td title="Victories">V</td>
                      <td title="Draws">D</td>
                      <td title="Goal difference">GD</td>
                      <td title="Goals for">GF</td>
                    </tr>
                  </thead>
                  <tbody>
                    <% group.classification(@betting_pool.id).each_with_index do |rank,index| %>
                      <tr>
                        <td id="group[<%= group.id %>][<%= index %>]" class= <% if rank.classified %> "classified classificationName" <% else %> "notClassified classificationName" <%end%> ><%= index + 1 %>. <%= rank.team.name %></td>
                        <td class="oddColumn mainInfo"><%= rank.points %></td>
                        <td><%= rank.matches_played %></td>
                        <td class="oddColumn"><%= rank.victories %></td>
                        <td><%= rank.draws %></td>
                        <td class= "oddColumn"><%= rank.goal_difference %></td>
                        <td><%= rank.goal_for %></td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
            <% end %>
          </div>
          <div id="games<%= group.id %>" class="games">
              <ul>
                <% group.matches.each do |match| %>
                  <%= form.fields_for :bets, @bets.find_or_initialize_by(:match_id => match.id) do |bet_form| %>
                    <li>
                      <span class="time"><%= match.date_time.getlocal.strftime("%a %d %b %y %H:%M %p") %></span>
                      <%= bet_form.hidden_field :match_id, :value => match.id %>
                      <%= image_tag "#{@tournament.name}/#{match.team_a.flag_filename}", :alt => "#{match.team_a.name}", :class => "leftTeam", :id => "match[#{group.id}][#{match.id}]" %>
                      <span class="leftTeam teamName"> <%= match.team_a.abbreviation %> </span>
                      <%= bet_form.text_field :score_a, :class => "leftTeam", :disabled => !match.is_possible_bet_match %>
                      <span class="middleX leftTeam">X</span>
                      <%= image_tag "#{@tournament.name}/#{match.team_b.flag_filename}", :alt => "#{match.team_b.name}", :class => "rightTeam" %>
                      <span class="rightTeam teamName"> <%= match.team_b.abbreviation %> </span>
                      <%= bet_form.text_field :score_b, :class => "rightTeam", :disabled => !match.is_possible_bet_match %>
                      <% if !group.is_rankable %>
                        <div class="penalties">
                          <span class="penaltiesLabel">Penalties results:<span>
                          <%= bet_form.collection_select(:team_won_penalties_id, match.teams, :id, :name, {:prompt => "Select a team"}, {:disabled => !match.is_possible_bet_match}) %>
                        </div>
                      <% end %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
          </div>
      </div>
      <script>
        <% if group.is_rankable %>
          classification<%= group.id %> = new Classification("<%= group.id %>");
          <% group.matches.each do |match| %>
            classification<%= group.id %>.addMatch("<%= match.id %>");
          <% end %>
        <% end %>
      </script>          
    <% end %>
  <% end %>
</div>