<!DOCTYPE html>
<html>
<head>
  <title>Betz</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href="https://fonts.googleapis.com/css?family=Raleway+Dots:400" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="overlay"></div>
    <div class="header">
        <a href="/"><%= image_tag("logo.png", :class => "logo", :alt => "Betz") %></a>
        <% if @current_user != nil %>
	        <span class="login">Hi <%=@current_user.name %>,</span>
	        <ul class="headerMenu">
	            <li><%= link_to 'Logout', users_logout_path %></li>
	            <li><%= link_to 'Results', edit_tournament_path(@betting_pool.tournament_id), id: controller?("tournaments") ? "selectedHeaderMenu" : nil  %></li>
	            <li><%= link_to 'Bets', edit_betting_pool_path(@betting_pool.id), id: controller?("betting_pools") ? "selectedHeaderMenu" : nil %></li>
	            <li><%= link_to 'Ranking', league_path(@betting_pool.league_id), id: controller?("leagues") ? "selectedHeaderMenu" : nil %></li>
	        </ul>
	    <% end %>
    </div>

<%= yield %>

</body>
</html>
